a:link, a:visited {
    font-family: 'Quicksand', sans-serif;
    text-decoration: underline;
    color: #00ccff;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-align: center;
    font-size: 40px;
}

body {
    font-family: 'Quicksand', sans-serif;
    width: 800px;
    margin: auto;
    position: relative;
    top: 30px;
}

