a:link, a:visited {
    font-family: 'oswald', sans-serif;
    text-decoration: none;
    color: black;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
    font-family: 'oswald', sans-serif;
    background-color: red;
    padding: 1em;
}

span:hover:after {
    content: attr(title);
    position: absolute;
    top: 100;
    right: -100px;
    width: 400px;
    background-color: red;
    color: black;
    font-size: 12px;
    text-align: center;
    padding: 1em;
}

h2 {
    font-family: 'oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: 40px;
}

body {
    font-family: 'oswald', sans-serif;
    width: 900px;
    margin: auto;
    position: relative;
    top: 30px;
}

